<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Registrar trayecto</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="./imagenes/logo.png" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="./css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-color3">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">
            <img src="./imagenes/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Impacto Ambiental
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link" href="#about" id="navRegistrarTrayecto">Registrar trayecto</a></li>

            </ul>
        </div>
        <div class="nav1" id="navbarSupportedContent1">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 flex-end">
                <li class="nav-item"><a class="nav-link active"  id= "cerrarSesion" aria-current="page">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Section-->
<div class="trayectosDelBack">
    <section class="h-100" style="background-color: #ffffff">
        <div class="container h-100 py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-10">
                    {{#each Trayectos}}
                        <div class="card rounded-3 mb-4">
                            <div class="card-body p-4">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <p class="lead fw-normal mb-2">Trayecto</p>
                                        <p><span class="text-muted">Direccion Partida: </span>{{partida.direccion}} <span class="text-muted"></span></p>
                                        <p><span class="text-muted">Direccion Partida: </span>{{llegada.direccion}} <span class="text-muted"></span></p>
                                        <p><span class="text-muted">Fecha Inicio: </span>{{fechaInicio}} <span class="text-muted"></span></p>
                                        <p><span class="text-muted">Fecha Fin: </span>{{fechaFin}} <span class="text-muted"></span></p>
                                        <p><span class="text-muted">Dias Utilizados: </span>{{diasUtilizados}} <span class="text-muted"></span></p>
                                        <input type="radio" id="boton">
                                        <label for="boton" onclick=guardarIdSeleccionado({{id}})> Elegir trayecto</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
</div>
<div>
    <div>
        <div>
            <button id= "botonFinal" type="button" class="botonRegistroExistente">Enviar Trayecto</button>
        </div>
    </div>
</div>

<!-- Footer-->
<footer class="py-5 bg-color1">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Mi Impacto Ambiental 2022</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="./js/funcionesComunes.js"></script>
<script  src="./js/redireccionEntrePaginas.js"></script>
<script>
    let idSeleccionado = null
    function guardarIdSeleccionado(id) {
        idSeleccionado = id
        alert(idSeleccionado)
    }

    document.getElementById("botonFinal").addEventListener('click', e=> {
        e.preventDefault()
        if(idSeleccionado === null) {
            alert("tenes que elegir un trayecto")
        }else {
            console.log("ahora le mando al back el siguiente id: " + idSeleccionado);
            enviarTrayectoExistenteAlBack();
            cambiarUrlConIdSesion("home")
        }
    })
async function enviarTrayectoExistenteAlBack() {


        body = {
         area: obtenerArea(),
         idTrayecto: idSeleccionado,
         idSesion: obtenerSesion()
        }

    console.log(body)

    await fetch('http://localhost:8080/registrarTrayectoExistente', {

        headers: {
            "Content-Type": "application/json"
        },
        method: "POST",
        body: JSON.stringify(body)

    })

}

</script>
</body>
</html>
